.container{
    max-width: 1300px;
}
section{
    padding: 60px 0px;
}

.bg_orange{
    background-color: rgb(255, 102, 0);
}
.orange{
    color: rgb(255, 102, 0);
}
.blue{
    color:rgb(0, 6, 102);
}

.font-60px{
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 4px;
}
.font-35px{
    font-size: 35px;
    font-weight: 500

}
.font-30px{
    font-size: 30px;
    font-weight: 400

}
.font-20px{
    font-size: 20px;
    font-weight: 400

}
.font-18px{
    font-size: 18px;
    font-weight: 400

}

.page-head .bg_orange:hover{
    background-color: orangered;
}

/* banner */
/* .banner .bg-img{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 500px;
} */
.banner .video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

/* Style the video element */
.banner video {
    width: 100%;
    height: 400px;
    display: block;
}
/* .nous */
.nous{
    padding: 50px 10px;
}
.nous h3.font-60px{
    background-color: rgb(124, 127, 176);
    padding: 12px 0xp;
}
/* company */
.company .row{
    margin-top: 0px;
}
.company .up{
    margin-bottom: -85px;
}
.company .down{
    margin-top: -64px;
}


.company p{
    line-height: 22px;
}

.company .container{
    max-width: 1300px;
}
.company .center-img{
    width: 230px;
}
.company .center-row{
    background-color: rgb(230, 247, 255);

}

.qualifiée .content{
    background-color: rgb(231, 234, 243);
    border-radius: 10px;
    padding: 10px 0px;
}
.qualifiée .content ul{
    padding-left: 18px;
    list-style-type:disc !important;
}
.qualifiée img{
    padding-left: 20px;
}
/* services */
.services{
    padding: 40px 0px;
}
.services p.font-18px{
    padding-right: 100px;
}
.services .mb_115px{
    margin-bottom: 115px;
    
}
.services .services-img img
{
    width: 350px;
}



/* contact-us */
.contact-us{
    min-height: 550px;
}
.contact-us ul li {
    font-size: 20px;
    margin-bottom: 8px;
    
}
.contact-us ul li a {
    font-size: 20px;
    color: gray;
}
.cta-button{
    background-color: rgb(255, 102, 0);
}
.cta-button:hover{
    background-color: orangered;
}




@media only screen and (max-width: 992px) {
    .company .up{
        margin-bottom: 0px;
    }
    .company .down{
        margin-top: 0px;
    }

}
@media only screen and (max-width: 576px) {
    .services p.font-18px{
        padding-right: 0px;
    }
    .font-60px{
       
        font-size: 40px;
       
    }
    .section-60{
        padding-bottom: 0px;
    }
    .section-65{
        padding-top: 0px;
    }
    section{
        padding: 30px 0px;
    }

}